<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:batch="http://www.springframework.org/schema/batch" xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<!-- Database instance -->
	<bean id="inMemoryDS" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
		<property name="url" value="jdbc:hsqldb:mem:mydatabase" />
		<property name="username" value="SA" />
		<property name="password" value="" />
		<property name="suppressClose" value="true" />
	</bean>


	<!-- Database properties -->
	<bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.jdbc.batch_size">100</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.c3p0.max_statements">20</prop>
			</props>
		</property>
	</bean>


	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="inMemoryDS" />
		</property>
		<property name="hibernateProperties">
			<ref bean="hibernateProperties" />
		</property>
		<property name="mappingResources">
			<list>
				<value>com/googlecode/tomcatlsd/common/model/ApplicationDescription.hbm.xml</value>
				<value>com/googlecode/tomcatlsd/common/model/ApplicationList.hbm.xml</value>
				<value>com/googlecode/tomcatlsd/common/model/GarbageCollectorStatisticsSnapshot.hbm.xml</value>
				<value>com/googlecode/tomcatlsd/common/model/HeartBeat.hbm.xml</value>
				<value>com/googlecode/tomcatlsd/common/model/MemoryUsageSnapshot.hbm.xml</value>
				<value>com/googlecode/tomcatlsd/common/model/ApplicationServer.hbm.xml</value>
			</list>
		</property>
		<property name="annotatedClasses">
			<list>
			</list>
		</property>
	</bean>

	<!-- Spring transaction manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>
